<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Add a book</title>
</head>
<body>
    <h1>Add a book</h1>
    <%- include("./partials/returnHomeBtn.ejs") %>
    <p>Fill in the form below to add a book</p>
    <form action="/add" method="post" class="add-book-container">
        <label>
            Title:
            <input type="text" name="title" placeholder="Dune">
        </label>
            <label >
                Author's First name:
                <input type="text" name="first_name" placeholder="Frank">
            </label>
            <label >
                Author's Last Name:
                <input type="text" name="last_name" placeholder="Herbert">
            </label>
        <label>
             Year Published:
            <input type="number" name="year_published" required>
        </label>
        <label>
             Publisher:
            <input type="text" name="publisher" placeholder="1st">
        </label>
        <label>
             Edition:
            <input type="text" name="edition" placeholder="1st">
        </label>
        <label>
             Genre:
             <select name="genre" id="genre">
                <option value="science-fiction">Science Fiction</option>
                <option value="adventure">Adventure</option>
                <option value="non-fiction">Non-Fiction</option>
                <option value="comedy">Comedy</option>
                <option value="romance">Romance</option>
                <option value="philosophy">Philosophy</option>
             </select>
        </label>
        <button type="submit">Add book!</button>
    </form>
</body>
</html>