<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to my book management app!</h1>
    <div class="btn-container">
      <button>
          <a href="/categories">View Categories</a>
        </button>
        <button>
            <a href="/book/add">Add a book</a>
        </button>
          <button>
            <a href="/search">Search</a>
        </button>
    </div>
    <p>
      Here's a list of all the books we currently have in our database:
    </p>
    <%- include("./partials/renderListOfBooks.ejs", {listOfBooks: books}) %>
  </body>
</html>
