<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to my book management app!</h1>
    <p>
      Here's a list of all the books we currently have in our database:
    </p>
    <ul>
      <% books.forEach((book) => { %>
          <li> <%= book.title %></li>
      <% }) %>
    </ul>
  </body>
</html>
