<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to my book management app!</h1>
      <button>
      <a href="/categories">View Categories</a>
    </button>
    <button>
        <a href="/add">Add a book</a>
    </button>
      <button>
        <a href="/search">Search</a>
    </button>
    <p>
      Here's a list of all the books we currently have in our database:
    </p>
    <ul>
      <% books.forEach((book) => { %>
          <li> <%= book.title %> by <%= book.author_first_name + " " + book.author_last_name%> </li>
      <% }) %>
    </ul>
  </body>
</html>
