<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Categories</title>
</head>
<body>
    <h1>All categories</h1>
            <%- include("./partials/returnHomeBtn.ejs") %>
    <h2>All book genres</h2>
    <ul class="genres-container">
        <% genres.forEach((item) =>{ %>
            <li>
                <a href=<%=`/categories?genre=${item.genre}`%> class="nav">
                        <%= item.genre %>
                </a>
             </li>
        <%})%>
    </ul>
    <% if (searchedGenre) { %> 
        <%- include("./partials/renderListOfBooks.ejs", {listOfBooks:  genreRows}) %>
    <%}%>

</body>
</html>