<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1>All categories</h1>
            <%- include("./partials/returnHomeBtn.ejs") %>
    <h2>All book genres</h2>
    <ul>
        <% genres.forEach((item) =>{ %>
            <li>
                 <button>
                    <a href=<%=`/categories/?genre=${item.genre}`%>>
                        <%= item.genre %>
                    </a>
                </button>
             </li>
        <%})%>
    </ul>
    <div class="divider"></div>
    <% if (searchedGenre) { %> 
        <ul>
        <% genreRows.map((row) => { %>
                <li> <%- row.title %></li>
         <% }) %>
         </ul>
    <%}%>

</body>
</html>