:root {
  font-family: Helvetica;
  color: #2f3640;
  background-color: #f5f6fa;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
h1 {
  font-weight: 900;
}
.add-book-container {
  display: flex;
  flex-direction: column;
}
.genres-container {
  list-style-type: none; /* Remove bullets */
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: center;
  gap: 10px;
}
.divider::after {
  content: "";
  display: block;
  border-top: 1px solid #2f3640;
  margin: 20px 0;
}
.book-list-container {
  list-style-type: none; /* Remove bullets */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.book-list-item {
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px solid #dcdde1;
}
.book-list-item:hover {
  border-bottom: 1px solid #2f3640;
  cursor: pointer;
  text-decoration: line-through 2px #2f3640;
}
.book-list-item:active {
  top: 1px;
}
.book-title {
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: #2f3640;
}
a.nav {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  color: #f5f6fa;
  background-color: #2f3640;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
/* Hover state */
a.nav:hover {
  background-color: #353b48; /* Slightly lighter to indicate interactivity */
}
/* Focus state */
a.nav:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(47, 54, 64, 0.5); /* A subtle focus ring */
}
/* Active state (optional, but gives feedback when clicking) */
a.nav:active {
  background-color: #1f272e; /* Darker color on click */
}
a.nav.delete {
  background-color: #e84118;
}
.update-book-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit-instruct-msg {
  border-bottom: 1px solid #353b48;
  padding-bottom: 10px;
}
.book-table {
  font-size: 1.1em;
  border: 1px solid #b9c0c9;
  margin: 5px 10px;
}
.book-table-headers {
  background-color: #dcdde1;
  color: #353b48;
}
.book-table-header {
  padding: 10px;
}
.book-table-value {
  text-align: center;
}
